<!-- 1.Pass Values from Component to View -->
<!--
1.Pass Values from Component to View.
<br>Age: {{age}}
<br>Full Name: {{fullName}}
<br>Status: {{status}}
<br>Email: {{email}}
-->
<!-- 2.Pass Object from Component to View -->
<!--
<h3>Product Info</h3>
<table border="1">
  <tr>
    <td>Id</td>
    <td>{{product.id}}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{product.name}}</td>
  </tr>
  <tr>
    <td>Photo</td>
    <td><img src="assets/images/{{product.photo}}" width="60"></td>
  </tr>
  <tr>
    <td>Price</td>
    <td>{{product.price}}</td>
  </tr>
  <tr>
    <td>Qyantity</td>
    <td>{{product.quantity}}</td>
  </tr>
  <tr>
    <td>Toatal</td>
    <td>{{product.price * product.quantity}}</td>
  </tr>
</table>
-->
<!-- 3.Pass Object List from Component to View(Componentand view)
<h3>Products List</h3>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Price</th>
    <th>Qyantity</th>
    <th>Toatal</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td><img src="assets/images/{{product.photo}}" width="60"></td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.price * product.quantity}}</td>
  </tr>
</table>
-->
<!-- 4.Click Event in Angular 5 (Event) -->
<!--
<form>
  <input type="buttin" value="Click Me" (click)="clickMe()">
  <br>
  {{result}}

  <input type="text" placeholder="Input your name" (keyup)="display($event)">
</form -->
<!--
<input type="text" placeholder="Input your name" (keyup.enter)="display($event)">
<br>
{{result}}
-->
<!-- <form> -->
  <!--
  <select (change)="display($event)">
    <option value="c1">Category 1</option>
    <option value="c2">Category 2</option>
    <option value="c3">Category 3</option>
    <option value="c4">Category 4</option>
  </select>
-->
<!--
<select (change)="display($event)">
  <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
</select>
  <br>
  {{result}}
  <span [innerHTML]="result"></span>
-->
<!-- </form> -->
<!--
<form>
  <input type="file" (change)="save($event)" multiple="multiple" >
  <br>
  <span [innerHTML]="result"></span>
</form>
-->
<!--
<form>
 <input type="text" [ngModel]="result" [ngModelOptions]="{standalone: true}"> -->
  <!--
  <input type="text" [(ngModel)]="result" [ngModelOptions]="{standalone: true}">
  <br>
  {{result}}
</form>
-->
<!--
<h3>Register Form</h3>
<form [formGroup]="registerForm" (ngSubmit)="save()">
  <table>
    <tr>
      <td>Username</td>
      <td>
        <input type="text" formControlName="username">
      </td>
      <td>
        <div *ngIf="registerForm.get('username').touched">
          <div *ngIf="registerForm.hasError('required', ['username'])">
            This field is required.
          </div>
          <div *ngIf="registerForm.hasError('minlength', ['username'])">
              Pleaes enter at least 3 characters.
            </div>
            <div *ngIf="registerForm.hasError('maxlength', ['username'])">
                Pleaes enter no more than 10 characters.
              </div>
        </div>
      </td>
    </tr>
    <tr>
        <td>Password</td>
        <td>
          <input type="password" formControlName="password">
        </td>
        <td>
            <div *ngIf="registerForm.get('password').touched">
                <div *ngIf="registerForm.hasError('required', ['password'])">
                  This field is required.
                </div>
                <div *ngIf="registerForm.hasError('pattern', ['password'])">
                    Your password does not meet complexity requirements.
                  </div>
              </div>
        </td>
      </tr>
      <tr>
          <td>Age</td>
          <td>
            <input type="number" formControlName="age">
          </td>
          <td>
              <div *ngIf="registerForm.get('age').touched">
                  <div *ngIf="registerForm.hasError('min', ['age'])">
                    Please enter a value greater than or equal to 18
                  </div>
                  <div *ngIf="registerForm.hasError('max', ['age'])">
                      Please enter a value less than or equal to 120
                    </div>
                </div>
          </td>
        </tr>
        <tr>
      <tr>
          <td>Email</td>
          <td>
            <input type="text" formControlName="email">
          </td>
          <td>
              <div *ngIf="registerForm.get('email').touched">
                  <div *ngIf="registerForm.hasError('required', ['email'])">
                    This field is required.
                  </div>
                  <div *ngIf="registerForm.hasError('pattern', ['email'])">
                      Your enter a valid email address.
                    </div>
                </div>
          </td>
        </tr>
        <tr>
            <td>Website</td>
            <td>
              <input type="text" formControlName="website">
            </td>
            <td>
                <div *ngIf="registerForm.get('website').touched">
                    <div *ngIf="registerForm.hasError('pattern', ['website'])">
                      Please enter a valid URL.
                    </div>
                  </div>
            </td>
          </tr>
      <tr>
          <td valign="top">Description</td>
          <td>
            <textarea cols="20" rows="5" formControlName="description"></textarea>
          </td>
        </tr>
        <tr>
          <td valign="top">Gender</td>
          <td>
            <div *ngFor="let gender of genders">
                <input type="radio" formControlName="gender" value="{{gender.value}}">
                {{gender.display}}
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">Status</td>
          <td>
            <input type="checkbox" formControlName="status">
          </td>
        </tr>
        <tr>
          <td valign="top">Languages</td>
          <td>
            <div *ngFor="let language of languages">
              <input type="checkbox" formControlName="languages"value="{{language.id}}"
              (change)="onCheckboxChange(language,$event)">{{language.name}}
            </div>
          </td>
        </tr>
        <tr>
          <td validgn="top">Role</td>
          <td>
            <select formControlName="role">
              <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td valign="top">Certificates</td>
          <td>
            <select formControlName="certificates" multiple="multiple">
              <option *ngFor="let certificate of certificates" value="{{certificate.value}}">
                {{certificate.display}}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <input type="submit" value="Save" [disabled]="registerForm.invalid">
          </td>
        </tr>
  </table>
</form>
-->
<!--
Result 1: {{result1}}
<br>
Result 2: {{result2}}
<br>
Result 3: {{result3}}
-->
<h3>Product Info</h3>
<table border="1">
  <tr>
    <td>Id</td>
    <td>{{product.id}}</td>
  </tr>
  <tr>
      <td>Name</td>
      <td>{{product.name}}</td>
  </tr>
  <tr>
      <td>Photo</td>
      <td>
        <img src="assets/images/{{product.photo}}" width="100"/>
      </td>
  </tr>
  <tr>
      <td>Price</td>
      <td>{{product.price}}</td>
  </tr>
  <tr>
      <td>Quantity</td>
      <td>{{product.quantity}}</td>
  </tr>
<table>

  <h3>Product List</h3>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Photo</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub Total</th>
    </tr>
    <tr *ngFor="let p of products">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>
          <img src="assets/images/{{p.photo}}" width="100"/>
      </td>
      <td>{{p.price}}</td>
      <td>{{p.quantity}}</td>
      <td>{{p.price * p.quantity}}</td>
    </tr>
  </table>
